################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/tmssolution/.vs/tmssolution/v17
/tmssolution/firsthomework/obj
/tmssolution/firsthomework/bin/Debug/net6.0
